form.feedback {
  padding-left: 10px;
  // height: 250px;


  .has-error {
    input {
      border: 1px solid red;
    }
    .help-block {
      color: red;
    }
  }

  input[type="submit"] {
    margin-top: 20px;
  }
}

.centered {
  text-align: center;
}


#colorbox img {
  margin-left: 10px;
}
