form.feedback {
  padding-left: 10px;
  // height: 250px;


  .has-error {
    input {
      border: 1px solid red;
    }
    .help-block {
      color: red;
    }
  }

  input[type="submit"] {
    margin-top: 20px;
  }
}

.centered {
  text-align: center;
}


#colorbox img {
  margin-left: 0px;
}
.progress-bar{
  background-color: #b74c0e;
  .sr-only{
      color: white;
  }
}


form.feedback {
  span.help-block {
    display: none !important;
  }
}

.colorbox-img {
  max-width: 650px;
  max-height: 356px;
}
